In [1]:
# Analyze weekly temperatures:
temperatures = [72, 68, 75, 70, 73, 69, 71]

In [2]:
# How many temperatures in the list
count = len(temperatures)
print(f'Number of count: {count}')

# Total count
total = sum(temperatures)
print(f'Total count: {total}')

# Average count
average =  total / count
print(f'Average: {average:.2f}')

Number of count: 7
Total count: 498
Average: 71.14

In [3]:
# Highest and Lowest Tempertures
print(f'Highest: {max(temperatures)}')
print(f'Lowest: {min(temperatures)}')

Highest: 75
Lowest: 68

In [4]:
# Range between Highest and Lowest Tempertures
range = max(temperatures) - min(temperatures)
print(f'Range: {range}')

Range: 7

In [8]:
# Iterate through the list

for temp in temperatures:
    if average > temp:
        print(f" Temperature above average {temp}.")
    if temp > 70:
        print(f" Temperature over 70 degrees {temp}.")

 Temperature over 70 degrees 72.
 Temperature above average 68.
 Temperature over 70 degrees 75.
 Temperature above average 70.
 Temperature over 70 degrees 73.
 Temperature above average 69.
 Temperature above average 71.
 Temperature over 70 degrees 71.

In [9]:
# This is data analysis!