In [1]:
# Read and process each item (transformation / mapping) – Clean and standardize city names

cities = [" new york ", "Los angeles", "chicago ", "houston", "PHOENIX"]
cleaned_cities = []

In [2]:
for city in cities: # process each item: strip whitespace + title case
    cleaned = city.strip().title()
    cleaned_cities.append(cleaned)
print(cleaned_cities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [3]:
cleaned_cities = [city.strip().title() for city in cities]
print(cleaned_cities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [4]:
#Accumulate results (sum, count, min/max, product, concatenation…)

sales = [120.50, 45.00, 890.75, 15.20, 320.00, 675.30]
total_sales = 0
high_value_count = 0

In [5]:
for amount in sales:
    total_sales += amount # accumulate sum
if amount > 500:        
    high_value_count += 1 # accumulate count
    average_sale = total_sales / len(sales)
    print(f"Total sales : ${total_sales:,.2f}")
    print(f"Average sale : ${average_sale:,.2f}")
    print(f"High-value sales (> $500): {high_value_count}")

Total sales : $2,066.75
Average sale : $344.46
High-value sales (> $500): 1

In [6]:
# Output: # Total sales : $2,066.75
# Average sale : $344.46
# High-value sales (> $500): 2