# Multiple Default Parameters

## Multiple defaults

In [19]:
def create_user(name, age=50, city='Unknown'):
    print(f'Name: {name}')
    print(f'Age: {age}')
    print(f'City: {city}')

In [20]:
# def create_user(name, age=50, city='Unknown'):
#    print(f'Name: {name} Age: {age} City: {city}')

In [21]:
# Different ways to call:

create_user('Vanay')

# Name: Vanay, Age: 50, City: Unknown

Name: Vanay
Age: 50
City: Unknown

In [22]:
create_user('Bob', 25)

# Name: Bob, Age: 25, City: Unknown

Name: Bob
Age: 25
City: Unknown

In [23]:
create_user('Triniti', 30, 'Chicago')

# Name: Vanay, Age: 30, City: Chicago
# Mix required and optional!
# Required first, defaults after

Name: Triniti
Age: 30
City: Chicago