## # Function with two parameters

In [1]:
def introduce(name, age):
    print(f'My name is {name}')
    print(f'I am {age} years old')

In [2]:
# Call with two arguments

introduce('Vanay', 59)

# My name is Vanay
# I am 59 years old

My name is Vanay
I am 59 years old

In [2]:
# Call with two arguments

introduce('Ameer', 6)

# My name is Ameer
# I am 6 years old

My name is Vanay
I am 59 years old

In [4]:
# Call with two arguments

introduce('Maymuna', 3)

# My name is Maymuna
# I am 3 years old

My name is Maymuna
I am 3 years old

In [3]:
# Arguments match parameters in order!
# introduce('Alice', 25)
#           name     age